<!-- Remove the container if you want to extend the Footer to full width. -->

<div>
    <footer class="bg-light text-center text-white" >
    <!-- Grid container -->
    <div class="container p-1 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">
        
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac; padding: 0px;"
          href="https://www.instagram.com/madhav_bansal_55/"
          role="button"
          ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="" width="29px"></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca; padding: 0px; border-radius: 50%;"
          href="https://www.linkedin.com/in/madhav-bansal-44a1522bb/"
          role="button"
          ><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="" width="38px"></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ffffff; padding: 0px; border-radius: 50%;"
          href="https://github.com/Madhavbansal27"
          role="button"
          ><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" width="35px"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      Madhav Bansal
    </div>
    <!-- Copyright -->
  </footer>
    
</div>
 
